---
layout: default
---

<div id="info">
  {% if page.title %}
    <h1><span>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</span></h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  {% endif %}

  <div class="part">
    <div class="title">
    </div>
  </div>

  <div class="part odd">
    <div class="title"  id="content">
        {{ content }}
    </div>
  </div>
</div> <!-- END INFO -->


<div id="get-started">

</div>
