---
layout: default
single: true
comments: true
---

    {% unless page.no_header %}
        {% unless index %}
            <h2>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h2>
        {% endunless %}
    {% endunless %}

    {% include article.html %}

<div id="paging">
  <div style="display: block; border-bottom: #415469 1px dotted; margin-bottom: 15px; padding-bottom:25px;">
    {% unless page.sharing == false %}
        {% include post/sharing.html %}
    {% endunless %}

    {% if page.previous.url %}
        <a style="float: left;" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
    {% endif %}

    {% if page.next.url %}
        <a style="float: right;" href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

    {% if site.disqus_short_name and page.comments == true %}
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    {% endif %}
</div>
