    <div id="footer">
        <div class="toplevel">
            <ul>
                <li><a href="http://monupco.com/features/">Features</a></li>
                <li><a href="http://monupco.com/register/">Register Apps</a></li>
                <li><a href="http://monupco.com/about/">About</a></li>
                <li><a href="mailto:info[at]monupco.com">Contact</a></li>
                <li><a href="http://twitter.com/monupco">@monupco</a></li>
                <li><a href="https://github.com/monupco/monupco.github.com/issues/new">Report bug</a></li>
            </ul>
            <div style="float: right;">&copy; 2011-2012 monupco</div>
        </div>
    </div>
