    <div id="footer">
        <ul>
            <li><a href="http://monupco.com/team/">team</a></li>
            <li><a href="mailto:info[at]monupco.com">contact</a></li>
            <li><a href="http://twitter.com/monupco">@monupco</a></li>
            <li class="last"><a href="https://github.com/monupco/monupco.github.com/issues/new">file a bug</a></li>
        </ul>

        <ul>
            <li><a href="http://monupco.com/faq/">faq</a></li>
            <li><a href="http://monupco.com/install/">how to install</a></li>
            <li><a href="http://monupco.com/details/">details</a></li>
            <li><a href="http://monupco.com/updates/">updates</a></li>
        </ul>

        <div id="copyright">&copy; monupco</div>
    </div>
