    <div id="footer">
        <div class="toplevel">
            <ul>
                <li><a href="http://www.dif.io/about/">About</a></li>
                <li><a href="mailto:info@nospam.dif.io?subject=EMAIL ADDRESS NEEDS EDITING&body=Please remove the text 'nospam.' from the address before sending your email.">Contact</a></li>
                <li><a href="https://github.com/difio/bugs/issues/new">Report bug</a></li>
            </ul>
            <div style="float: right;">&copy; 2012-2013 difio</div>
        </div>
    </div>
