<!-- OpenGraph -->
<meta property="og:image" content="http://monupco.com/static/images/logo_mo.png" />
{% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
<link type="text/css" rel="stylesheet" media="screen" href="http://monupco.com/static/css/style.css2" />


<link type="text/css" rel="stylesheet" media="screen" href="http://localhost:8000/static/css/style.css" />
