<!-- OpenGraph -->
<meta property="og:image" content="//d3h3t4beeg8ypi.cloudfront.net/static/v6/i/72.png" />
{% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
<link type="text/css" rel="stylesheet" media="screen" href="//d3h3t4beeg8ypi.cloudfront.net/static/v17/css/style.css" />
<link href="{{ root_url }}/stylesheets/fonts.css" media="screen, projection" rel="stylesheet" type="text/css" />