<!-- OpenGraph -->
<meta property="og:image" content="//d3h3t4beeg8ypi.cloudfront.net/static/v6/i/72.png" />
{% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
<link type="text/css" rel="stylesheet" media="screen" href="//d3h3t4beeg8ypi.cloudfront.net/static/v25/css/style.css" />
<link href="{{ root_url }}/stylesheets/fonts.css" media="screen, projection" rel="stylesheet" type="text/css" />

<style type="text/css">
@import "//ajax.googleapis.com/ajax/libs/dojo/1.7.2/dijit/themes/claro/claro.css";
@import "//ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojox/widget/Dialog/Dialog.css";
</style>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js" data-dojo-config="'async':true,'parseOnLoad':true" type="text/javascript"></script>
<script type="text/javascript" src="//d3h3t4beeg8ypi.cloudfront.net/static/v25/js/dojo/require_dialog.js"></script>
