<div class="navigation">
    <div class="signin">
        <!-- latest updates feed -->
        <div style="width: 40px; display:inline-block; position: relative; top: -1px;">
            <a href="http://feeds.feedburner.com/difio/blog">
                <img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/rss.png" width="22" height="22" alt="RSS" title="Subscribe via RSS"/>
            </a>
        </div>

    </div>

    <div class="signin" style="width: 115px;"><a href="#" onclick='dijit.byId("dlgRegister").show()' class="button light_blue small">get started</a></div>

<div id="dlgRegister" data-dojo-type="dojox.widget.Dialog" class="claro dialog" dimensions="[410,220]" style="display: none; background-color: inherit;">
    <table style="float:left;margin-left: 10px;">
        <tr>
            <td colspan="6" style="text-align: left;">
Go to the <a href="https://difio-otb.rhcloud.com/dashboard/follow/">dashboard</a> and select which packages/versions to follow
with a few clicks!
<br/><br/>
Otherwise use the links below to import your application dependencies.
            </td>
        </tr>
        <tr>
            <th colspan="6">Manual import</th>
        </tr>
        <tr>
            <th class="center">Java</th>
            <th class="center">Node.js</th>
            <th class="center">Perl</th>
            <th class="center">PHP</th>
            <th class="center">Python</th>
            <th class="center">Ruby</th>
        </tr>
        <tr>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/mvn-dependency-list/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/npm-ls/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/perllocal.pod/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/composer-show/?"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/pip-freeze/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/bundle-list/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
        </tr>
        <tr>
            <td colspan="6">
                To register PaaS based applications <a href="http://www.dif.io/register/">see the instructions</a>.
            </td>
        </tr>
    </table>
</div>

</div>
