<div class="navigation">
    <a href="{{ root_url }}"          class="button small light_blue" style="margin-left: 50px;">home</a>
    <a href="{{ root_url }}/archives" class="button small light_blue" style="margin-left: 50px;">archives</a>

    <div class="signin">
        <!-- latest updates feed -->
        <div style="width: 40px; display:inline-block; position: relative; top: -1px;">
            <a href="http://feeds.feedburner.com/difio/blog">
                <img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/rss.png" width="22" height="22" alt="RSS" title="Subscribe via RSS"/>
            </a>
        </div>

        <!-- follow on twitter -->
        <div style="width: 80px; display:inline-block;" >
            <a href="https://twitter.com/DifioNews" class="twitter-follow-button" data-show-count="false" data-size="small" data-show-screen-name="false">Follow @DifioNews</a>
        </div>

        <!-- follow on linkedin -->
        <div style="width: 105px; display:inline-block;" >
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/FollowCompany" data-id="2653059" data-counter="none"></script>
        </div>
    </div>

    <div class="signin" style="width: 115px;"><a href="#" onclick='dijit.byId("dlgRegister").show()' class="button light_blue small">get started</a></div>

<div id="dlgRegister" data-dojo-type="dojox.widget.Dialog" class="claro dialog" dimensions="[410,220]" style="display: none; background-color: inherit;">
    <table style="float:left;margin-left: 10px;">
        <tr>
            <td colspan="6" style="text-align: left;">
Go to the <a href="https://difio-otb.rhcloud.com/dashboard/follow/">dashboard</a> and select which packages/versions to follow
with a few clicks!
<br/><br/>
Otherwise use the links below to import your application dependencies.
            </td>
        </tr>
        <tr>
            <th colspan="6">Manual import</th>
        </tr>
        <tr>
            <th class="center">Java</th>
            <th class="center">Node.js</th>
            <th class="center">Perl</th>
            <th class="center">PHP</th>
            <th class="center">Python</th>
            <th class="center">Ruby</th>
        </tr>
        <tr>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/mvn-dependency-list/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/npm-ls/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/perllocal.pod/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/error.png" alt="NO" /></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/pip-freeze/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
            <td class="center"><a href="https://difio-otb.rhcloud.com/application/import/bundle-list/"><img src="//d3h3t4beeg8ypi.cloudfront.net/static/v34/i/s/ok.png" alt="YES" /></a></td>
        </tr>
        <tr>
            <td colspan="6">
                To register PaaS based applications <a href="http://www.dif.io/register/">see the instructions</a>.
            </td>
        </tr>
    </table>
</div>

</div>
